

   #navlink{
    box-shadow: 0px 4px 2px lightgray;
    height:10vh;
    width:auto;
    display: grid;
    grid-template-columns:4rem 4fr 4rem;
    background-color: cadetblue;
  }
  #navlink ul{
    grid-column:2/3;
    width:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
   li :hover{
   
    border-radius: 5px;
    border-bottom: 2px solid  rgb(164, 41, 102);
  }

  #navlink ul {
    list-style-type:none ;
  
  }
  .link{
    font-size: 30px;
    font-weight:bolder;
    color:black;
    text-decoration:none;
    transition: 0.5s;
  }
  

  /* --hamburger-- */
  .fa-solid{
    background-color:rgb(92, 29, 70);
    height: 40px;
    width:40px;
  
    text-align: center;
    padding-top:10px ;
    font-size: 30px;
    border: 2px solid black;

  
  }
  .fa-solid{
    display:none; 
  }
  .hambergerlinks {
    display: none;
  }
  .display{
    display: none;
  }

  @media screen and (min-width:503px) and (max-width:980px){
    .link{
      font-size: 25px;
      
    }

  }




  @media screen and (max-width:500px) and (min-width:280px){
    
    #navlink ul{
      display:none;
    }

    #navlink{
      width:100%;
      padding-top: 2%;
    
    }
    
  li:hover{
    background-color: rgb(164, 41, 102);
    color: white;
  }
   ul{
    list-style-type: none;
  }
  .display{
    display:block;
    grid-column: 3/4;
  }
  .hambergerlinks{
    height:260px;
    width:99vw;
   margin-left: 0px;
    background-color: cadetblue;
    border:2px solid black;
    text-align: center;
    display: none;
    gap:6px;
    
    }
   
    .show{
      display:block;
     
    }
    .hide{
      display:none;
    }
    .fa-solid{
      display:block; 
    }

  }









